/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Styles for index.html */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
}

body {
	background: rgb(236, 223, 223);
}

.header {
	margin: 0 auto;
	max-width: 1920px;
	padding: 0;
}

.header__panel1 {
	height: 53px;
	background: #333333;
}

.header__panel2 {
	height: 96px;
	background: linear-gradient(180deg, #00AFED 0%, #00569A 100%);
}

.header__container {
	width: 1146px;
	margin: 0 auto;
	display: flex;
}

.logotype {
	margin-top: 14px;
}

.header__panel3 {
	height: 457px;
	background: url(img/background.png);
	position: relative;
}

.header__slogan {
	font-weight: 400;
	font-size: 55px;
	line-height: 156.69%;
	color: #FFFFFF;
	position: absolute;
	top: 216px;
	left: 371px;
}

.main {
	margin: 0 auto -11px auto;
	min-height: 452px;
	background: #fff;
	max-width: 1920px;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
}

.form {
	position: relative;
	top: -182px;
	left: -142px;
	margin-left: 181px;
	width: 481px;
	height: 464px;
	background: #FFFFFF;
	box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
}

.form__label {
	display: block;
	padding: 41px 31px 0;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

.form__input {
	display: block;
	width: 421px;
	height: 53px;
	padding-left: 8px;
	font-size: 16px;
	margin-top: 6px;
	margin-left: 30px;
	background: #FFFFFF;
	border: 1px solid #9A9A9A;
}

.form__submit {
	width: 421px;
	height: 53px;
	background: #0076C0;
	margin: 40px 31px 20px;
	font-size: 25px;
	cursor: pointer;
	color: #FFFFFF;
	border: none;
}

.form__forgot {
	position: relative;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-decoration: none;
	color: #056DAE;
	margin-left: 162px;
}

.error-message::after {
	content: "Incorrect name or password. Please try again";
	width: 300px;
	font-size: 14px;
	color: red;
	position: absolute;
	top: -103px;
	left: -63px;
	z-index: 100;
}

.form__register {
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
	background: #F6F6F6;
	color: #333333;
	display: block;
	text-decoration: none;
	margin-top: 23px;
	padding: 17px;
}

.main__column {
	width: 650px;
	margin: 32px 0 0 170px;
}

.main__description {
	width: 650px;
	top: 32px;
	left: 380px;
	font-size: 16px;
	line-height: 156.69%;
	color: #333333;
	margin: 16px 0 23px;
}

.main__head {
	font-weight: 500;
}

.main__list {
	width: 670px;
	top: 113px;
	left: 379px;
	list-style-type: none;
	padding-left: 39px;

}

.main__item {
	position: relative;
	margin-top: 0;
	margin-bottom: 12px;
}

.main__item:before {
	content: "";
	position: absolute;
	top: 4px;
	left: -40px;
	width: 23px;
	height: 17px;
	background-image: url(img/tick.png);
}

.main__heading {
	font-weight: 500;
	font-size: 16px;
	line-height: 156.69%;
	margin-bottom: 13px;
	color: #333333;
}

.main__text {
	font-size: 14px;
	line-height: 156.69%;

	color: #333333;
}

.footer {
	min-height: 175px;
	max-width: 1920px;
	margin: 0 auto;
	background: #333333;
}

.footer__container {
	width: 1146px;
	margin: 0 auto;
}

.footer__menu {
	padding: 36px 0;
	display: flex;
	justify-content: flex-end;
	width: 1178px;
	margin: 0 -8px 0;
}

.footer__item {
	font-weight: 500;
	font-size: 16px;
	line-height: 156.69%;
	color: #FFFFFF;
	text-decoration: none;
	padding: 0 0;
	margin: 0 10px;
}

.footer__item:hover {
	text-decoration: underline;
}

.footer__logo {
	width: 59px;
	height: 59px;
	float: left;
	position: relative;
	top: -80px;
	left: 4px;
}

.footer__line {
	width: 1162px;
	margin: -3px auto;
	position: relative;
	left: -3px;
}

.footer__copyright {
	margin: 34px auto;
	position: relative;
	left: -57px;
	font-weight: 500;
	font-size: 12px;
	line-height: 156.69%;
	color: #FFFFFF;
}

/* |||||||||||||||||||||||||Media queries|||||||||||||||||||| */

@media screen and (max-width: 1830px) {
	.main {
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.form {
		position: static;
		margin: 20px 0 35px;
	}

	.main__column {
		margin: 54px 0 0;
	}
}

@media screen and (max-width: 1800px) {

	.header {
		width: auto;
	}

	.main {
		width: auto;
	}

	.footer {
		width: auto;
	}

}

@media screen and (max-width: 1570px) {
	.header__container {
		width: 900px;
	}

	.footer__container {
		width: 900px;
		margin: 0 auto;
	}

	.footer__menu {
		width: auto;
	}

	.footer__line {
		width: auto;
	}

	.footer__logo {
		left: 4px;
	}

	.footer__copyright {
		width: auto;
		position: relative;
		left: -60px;
	}
}

@media screen and (max-width: 1320px) {
	.main {
		flex-direction: column;
		align-items: center;
	}

	.main__column {
		margin: 10px 0 30px;
	}

	.form {
		margin-top: 32px;
	}
}

@media screen and (max-width: 1250px) {
	.header__panel3 {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}


	.header__slogan {
		position: static;
		margin-left: 20px;
	}
}

@media screen and (max-width: 950px) {
	.header__container {
		width: 700px;
	}

	.footer__container {
		width: 700px;
	}

	.footer__item {
		font-size: 14px;
	}
}

@media screen and (max-width: 730px) {
	.header__container {
		width: 500px;
	}

	.footer__container {
		width: 500px;
	}

	.footer__menu {
		justify-content: center;
	}

	.footer__item {
		font-size: 12px;
		margin: 0 5px;
	}

	.footer__logo {
		display: none;
	}

	.footer__copyright {
		left: 14px;
	}
}

@media screen and (max-width: 700px) {
	.main__column {
		width: 480px;
	}

	.main__description {
		width: 480px;
	}

	.main__list {
		width: 480px;
	}
}

@media screen and (max-width: 660px) {
	.header__slogan {
		font-size: 44px;
	}
}

@media screen and (max-width: 530px) {
	.header__container {
		width: 460px;
	}

	.header__container .logotype {
		margin-left: 20px;
	}

	.footer__container {
		width: auto;
	}

	.footer__menu {
		flex-direction: column;
		padding-left: 20px;
		margin-right: 0;
	}

	.footer__item {
		margin-bottom: 20px;
	}

	.footer__copyright {
		position: static;
		margin-bottom: 0;
	}
}

@media (max-width: 481px) {
	.header__container {
		width: 320px;
	}

	.form {
		width: 320px;
	}

	.form__input {
		width: 300px;
		padding-left: 5px;
		margin-left: 10px;
	}

	.form__forgot {
		margin-left: 85px;
	}

	.form__submit {
		width: 300px;
		margin-left: 10px;
		margin-right: 0;
	}

	.main__column {
		width: 320px;
	}

	.main__description {
		width: 320px;
	}

	.main__list {
		width: 320px;
	}

	.footer__container {
		width: 320px;
	}
}

/*||||||||||||||||||||||||||Style for todo.html ||||||||||||||||||||||||||||||||||*/

.head {
	background: linear-gradient(180deg, #00AFED 0%, #00569A 100%);
}

.head__container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


.head__link {
	width: 188px;
	margin-top: 66px;
}

@media (max-width: 1201px) {
	.head__link {
		width: 140px;
		margin-top: 30px;
	}
}

@media (max-width: 1025px) {
	.head__link {
		width: 120px;
	}
}

@media (max-width: 769px) {
	.head__link {
		margin-top: 18px;
		;
	}
}

.head__logo {
	width: 188px;
}

@media (max-width: 1201px) {
	.head__logo {
		width: 140px;
	}
}

@media (max-width: 1025px) {
	.head__logo {
		width: 120px;
	}
}

.prime {
	margin-top: 60px;
	background: #E5E5E5;
	min-height: 500px;
	display: flex;
	justify-content: center;
}

@media (max-width:1201px) {
	.prime {
		margin-top: 44px;
	}
}

@media (max-width:769px) {
	.prime {
		margin-top: 24px;
	}
}

.prime__list {
	width: 1191px;
	background-color: #FFFFFF;
	background-size: 20px 20px;
	background-image: repeating-linear-gradient(0deg, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
}

@media (max-width:1201px) {
	.prime__list {
		width: 900px;
	}
}

@media (max-width:1025px) {
	.prime__list {
		width: 750px;
	}
}

@media (max-width:769px) {
	.prime__list {
		width: 450px;
	}
}

@media (max-width:481px) {
	.prime__list {
		width: 320px;
	}
}

.prime__message {
	margin: 34px 0 34px 0;
	font-weight: 700;
	font-size: 60px;
	line-height: 156.69%;
	text-align: center;
	color: #333333;
	background: #eee;
}

@media (max-width:1201px) {
	.prime__message {
		font-size: 50px;
		margin: 30px 0 20px 0;
	}
}

@media (max-width:1025px) {
	.prime__message {
		font-size: 40px;
		margin: 20px 0 0 0;
	}
}

@media(max-width:769px) {
	.prime__message {
		font-size: 30px;
	}
}

@media(max-width:481px) {
	.prime__message {
		font-size: 23px;
	}
}

@media(max-width:320px) {
	.prime__message {
		font-size: 20px;
	}
}

/* |||||||||||||||||||||||||||||ToDo script style|||||||||||||||||||||||||||||||||||| */
:root {
	--dark: #374152;
	--darker: #48b3e4;
	--darkest: #111828;
	--gray: #6b7279;
	--light: #eee;
	--pink: #ee68a9;
	--purple: #8b5cf6;
}

.prime__list {
	flex-direction: column;
	color: var(--light);
}

header {
	padding: 2rem 1rem;
}

@media (max-width:481px) {
	header {
		padding: 1rem;
	}
}

header h1 {
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--gray);
	margin-bottom: 1rem;
}

#task-form {
	display: flex;
}

@media (max-width: 481px) {
	#task-form {
		flex-direction: column;
		align-items: center;
	}
}

input,
textarea,
button,
.text {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#task-input {
	flex: 1 1 0;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

@media (max-width:481px) {
	#task-input {
		/* font-size: 0.78rem; */
		margin-right: 0;
		margin-bottom: 10px;
		width: 100%;
	}
}

#task-input::placeholder {
	color: var(--darkest);
}

#task-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	cursor: pointer;
	transition: .4s;
	background: rgb(58, 40, 40);
	border-radius: 1rem;
	padding: 1rem;
}


#task-submit:hover {
	opacity: 0.7;
}

#task-submit:active {
	opacity: 0.5;
}

main {
	flex: 1 1 0%;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 2rem;
	font-weight: 700;
	color: var(--darkest);
	margin-bottom: 1rem;
	background: #eee;
	border-radius: 1rem;
}

@media (max-width:1201px) {
	.task-list h2 {
		font-size: 1.75rem;
	}
}

@media(max-width:769px) {
	.task-list h2 {
		font-size: 1.5rem;
		text-align: center;
	}
}

@media(max-width:481px) {
	.task-list h2 {
		font-size: 1.25rem;
	}
}

@media(max-width:320px) {
	.task-list h2 {
		font-size: 1.15rem;
	}
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

@media (max-width: 769px) {
	#tasks .task {
		position: relative;
		margin-top: 60px;
	}
}

#tasks .task .content {
	flex: 1 1 0;
	display: flex;
}

#tasks .task .content .text {
	color: var(--darkest);
	font-size: 1.3rem;
	width: 100%;
	transition: 0.4s;
	padding-top: 10px;
	display: inline-block;
}

@media (max-width: 769px) {
	#tasks .task .content .text {
		padding-top: 0;
	}
}

#tasks .task .content .text:read-write {
	color: var(--pink);
}

@media (max-width: 769px) {
	.actions {
		position: absolute;
		top: -42px;
		left: 123px;
	}
}

#tasks .task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
	background: rgb(58, 40, 40);
	border-radius: 1rem;
	padding: 0.75rem;
}

#tasks .task .actions button:hover {
	opacity: 0.7;
}

#tasks .task .actions button:active {
	opacity: 0.5;
}

.task .actions .edit {
	color: var(--pink);
}

.task .actions .delete {
	color: red;
}